## melt
- 说明：  
    - 将DataFrame从宽格式转换为长格式。
    - 根据`id_vars`参数，指定不需要转换的列。
    - 根据`value_vars`参数，指定需要转换的列。
    
- 参数： 
    - `id_vars`: scalar | list | None  
    保持不变的列
        - None: 不考虑这个参数 (默认)
        - scalar: 列名
        - list: 列名列表
    - `value_vars`: scalar | list | None  
    需要转换的列
        - None: 使用除`id_vars`之外的所有列 (默认)
        - scalar: 列名
        - list: 列名列表
    - `var_name`: str | None  
    变量列的名称
        - None: 使用默认名称`variable` (默认)
        - str: 自定义名称
    - `value_name`: str  
    值列的名称
        - 默认值为`value`
    - `col_level`: int | str | None  
    如果列是多级索引，指定要使用的级别
        - None: 不考虑这个参数 (默认)
        - int: 索引级别
        - str: 索引级别名称
    - `ignore_index`: bool  
    是否重置索引
        - True: 重置索引 (默认)
        - False: 保留原索引

In [ ]:
import pandas as pd

df = pd.read_excel(
    r'..\0-data\stocks\互联网公司股票-02.xlsx',
    usecols='A:D'
)
df.head(10)

           日期    公司      收盘      开盘
0  2019-10-10  BIDU  103.85  100.79
1  2019-10-09  BIDU   99.90  100.29
2  2019-10-08  BIDU   99.53   99.50
3  2019-10-07  BIDU  101.47  103.79
4  2019-10-04  BIDU  104.47  103.83
5  2019-10-03  BIDU  104.32  102.35
6  2019-10-02  BIDU  102.62  100.85
7  2019-10-01  BIDU  102.00  102.80
8  2019-10-10  BABA  166.07  165.96
9  2019-10-09  BABA  165.19  165.50

In [21]:
df.melt(id_vars=['日期', '公司'], var_name='指标', value_name='数值')

            日期    公司  指标      数值
0   2019-10-10  BIDU  收盘  103.85
1   2019-10-09  BIDU  收盘   99.90
2   2019-10-08  BIDU  收盘   99.53
3   2019-10-07  BIDU  收盘  101.47
4   2019-10-04  BIDU  收盘  104.47
..         ...   ...  ..     ...
59  2019-10-07    JD  开盘   28.84
60  2019-10-04    JD  开盘   28.88
61  2019-10-03    JD  开盘   28.11
62  2019-10-02    JD  开盘   28.00
63  2019-10-01    JD  开盘   28.22

[64 rows x 4 columns]