In [41]:
import pandas as pd

df = pd.read_excel('pandas练习-制作工资条.xlsx', usecols='A:F', nrows=9)
df

   员工编号   姓名    工资    奖金  应缴税  实发工资
0  A001  牛大力  3000  1000  320  3680
1  A002   丁丁  4000  1000  400  4600
2  A003   刘猛  5000  2000  560  6440
3  A004  张大同  3000  1500  360  4140
4  A005  木有才  8000  2000  800  9200
5  A006  王大有  2000  2000  320  3680
6  A007   当当  8000  1500  760  8740
7  A008  刘强强  3000  1500  360  4140
8  A009  孙大顺  3000  1000  320  3680

In [ ]:
pd.concat([pd.DataFrame([s.index, s.values, []]) for i, s in df.iterrows()]).fillna('')

      0    1     2     3    4     5
0  员工编号   姓名    工资    奖金  应缴税  实发工资
1  A001  牛大力  3000  1000  320  3680
2
0  员工编号   姓名    工资    奖金  应缴税  实发工资
1  A002   丁丁  4000  1000  400  4600
2
0  员工编号   姓名    工资    奖金  应缴税  实发工资
1  A003   刘猛  5000  2000  560  6440
2
0  员工编号   姓名    工资    奖金  应缴税  实发工资
1  A004  张大同  3000  1500  360  4140
2
0  员工编号   姓名    工资    奖金  应缴税  实发工资
1  A005  木有才  8000  2000  800  9200
2
0  员工编号   姓名    工资    奖金  应缴税  实发工资
1  A006  王大有  2000  2000  320  3680
2
0  员工编号   姓名    工资    奖金  应缴税  实发工资
1  A007   当当  8000  1500  760  8740
2
0  员工编号   姓名    工资    奖金  应缴税  实发工资
1  A008  刘强强  3000  1500  360  4140
2
0  员工编号   姓名    工资    奖金  应缴税  实发工资
1  A009  孙大顺  3000  1000  320  3680
2