In [93]:
import pandas as pd

df = pd.read_excel('pd练习：009：分类汇总.xlsx', usecols='A:E')
df.head()

   类目   品牌         型号   单价  数量
0  鼠标  小灰盒     SONY-U  296   5
1  鼠标  小灰盒      IBM-U  245   7
2  鼠标  双飞燕       X3-P  133   5
3  键盘   奇剑   KK-303-P  137   9
4  键盘   奇剑  KK-303B-U  243   2

In [ ]:
df.groupby('类目', group_keys=False, as_index=False).get_group('鼠标').groupby(
    '品牌'
).数量.agg(['count', lambda z: z.astype('str').str.cat(sep='+'), 'sum']).set_axis(
    ['计数', '品牌', '求和'], axis=1
).agg(
    {'计数': 'sum', '品牌': lambda z: z.str.cat(sep='+'), '求和': 'sum'}
).rename('小计')

     计数   品牌  求和
品牌
双飞燕   1    5   5
小灰盒   2  5+7  12

In [ ]:
a = df.pivot_table(
    index=['类目', '品牌'],
    values='数量',
    aggfunc=['count', lambda x: '+'.join(x.astype('str')), 'sum'],
).set_axis(['计数', '明细', '求和'], axis=1)
b = (
    df.groupby('类目')['数量']
    .agg(计数='count', 求和='sum')
    .assign(品牌=' 小计')
    .set_index('品牌', append=True)
)
c = pd.concat([a, b])
c.groupby(level=0).apply(lambda x: x).reset_index(level=1, drop=True)

        计数        明细  求和
类目 品牌
碟片 三棱    1         6   6
   同方    1         2   2
   啄木鸟   1         8   8
   紫光    4  4+10+4+2  20
    小计   7       NaN  36
耳机 VA    2       7+5  12
   欧凡    1         4   4
   高宝    3   10+7+10  27
    小计   6       NaN  43
键盘 IBM   1         9   9
   华尔特   3   10+7+10  27
   双飞燕   4   7+4+1+2  14
   奇剑    2       9+2  11
   罗技    2       8+3  11
    小计  12       NaN  72
音箱 漫步者   1         2   2
   麦博    1         9   9
    小计   2       NaN  11
鼠标 双飞燕   1         5   5
   小灰盒   2       5+7  12
    小计   3       NaN  17

In [ ]:
a = df.groupby(['类目', '品牌'])['数量'].agg(
    计数='count', 明细=lambda x: '+'.join(x.astype('str')), 求和='sum'
)
b = (
    df.groupby('类目')['数量']
    .agg(计数='count', 求和='sum')
    .assign(品牌='小计')
    .set_index('品牌', append=True)
)
c = pd.concat([a, b])
c.groupby(level=0).apply(lambda x: x).reset_index(level=1, drop=True)

        计数        明细  求和
类目 品牌
碟片 三棱    1         6   6
   同方    1         2   2
   啄木鸟   1         8   8
   紫光    4  4+10+4+2  20
   小计    7       NaN  36
耳机 VA    2       7+5  12
   欧凡    1         4   4
   高宝    3   10+7+10  27
   小计    6       NaN  43
键盘 IBM   1         9   9
   华尔特   3   10+7+10  27
   双飞燕   4   7+4+1+2  14
   奇剑    2       9+2  11
   罗技    2       8+3  11
   小计   12       NaN  72
音箱 漫步者   1         2   2
   麦博    1         9   9
   小计    2       NaN  11
鼠标 双飞燕   1         5   5
   小灰盒   2       5+7  12
   小计    3       NaN  17