In [5]:
import pandas as pd

df = pd.read_excel('pd练习：026：按规则编号.xlsx',usecols='A')
df

    级别
0    1
1    2
2    3
3    3
4    2
5    3
6    3
7    2
8    3
9    3
10   4
11   5
12   6
13   6
14   2
15   3
16   4
17   5
18   6
19   7
20   7
21   4
22   5
23   6
24   7
25   2
26   2
27   3
28   3
29   4
30   5
31   6
32   7
33   7

In [ ]:
pd.Series