In [11]:
import pandas as pd
import numpy as np

df = pd.read_excel(
    '出入库存单价.xlsx',
    usecols='A:C'
)
df

   桩体    数量  入库单价
0  入库  1000  0.50
1  出库   800  0.50
2  入库   400  0.65
3  出库   400  0.60
4  入库   500  0.55
5  入库   200  0.62

In [50]:
(
    df.assign(数量=lambda x: np.where(x.桩体.str[0] == '出', -x.数量, x.数量))
    .assign(结存=lambda x: x.数量.cumsum())
    .assign(结存金额=lambda x: (x.入库单价 * x.数量).cumsum() / x.结存)
    .assign(数量=lambda x: x.数量.abs())
)

   桩体    数量  入库单价    结存      结存金额
0  入库  1000  0.50  1000  0.500000
1  出库   800  0.50   200  0.500000
2  入库   400  0.65   600  0.600000
3  出库   400  0.60   200  0.600000
4  入库   500  0.55   700  0.564286
5  入库   200  0.62   900  0.576667